<link rel="stylesheet" href="/static/home.css">

<div class="app">
    <div class="panel navalia"></div>
    <div class="panel info">
        <h1>Navalia</h1>
        <p>O seu bot de entretenimento.</p>
        <p>
            Há de tudo: Sistema de XP para medir a atividade dos membros, comandos de diversão, memes, e ainda alguns pequenos utilitários para turbinar seu servidor.
        </p>
        <p class="status">
            Até agora estou em {{ guild_count }} servidores e tenho {{ commands_count }} comandos.
        </p>
        <div class="buttons">
            <a class="action-button">Adicionar</a>
            <a class="action-button green">Comandos</a>
            <a class="action-button red">Blog</a>
        </div>
        <p class="author">
            <img class="author-avatar" src="https://avatars0.githubusercontent.com/u/32037475?s=460&v=4"><span class="author-name">by Pantheon</span>
        </p>
        <br>
    </div>
</div>