<div class="app">
    <div class="panel navalia"></div>
    <div class="panel info">
        <h1>Navalia</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id ex pharetra, accumsan massa et, porttitor libero..</p>
        <p>Ut ut eros quis orci malesuada blandit. Maecenas egestas iaculis metus. Nulla vitae mattis turpis, ac sollicitudin nisl. Etiam et tincidunt ipsum, sit amet ornare sem. Phasellus auctor congue ante, vel facilisis enim vulputate in. Suspendisse vestibulum libero ut odio laoreet volutpat. Nulla laoreet libero tellus, id sagittis arcu vestibulum vel. Vestibulum vel velit eu dui condimentum pellentesque. Phasellus et ipsum eu tellus cursus malesuada at non metus. Duis sed molestie augue, in faucibus quam. Duis non orci non urna accumsan feugiat. Donec ut iaculis metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <div class="buttons">
            <a class="action-button">Adicionar</a>
            <a class="action-button green">Comandos</a>
            <a class="action-button red">Blog</a>
        </div>
        <p class="author">
                <img class="author-avatar" src="https://avatars0.githubusercontent.com/u/32037475?s=460&v=4"><span class="author-name">by Pantheon</span>
            </p>
        <br>
    </div>
</div>